<template>
  <form class="search-form" v-on:submit.prevent="handleSearch">
    <input
      placeholder="Minter address"
      class="search-form__input"
      v-model="address"
      type="text"
    />
    <button class="search-form__button" type="submit">Search</button>
  </form>
</template>

<script>
import fetchData from "@/helpers/fetchData";

export default {
  name: "SearchAddress",
  data() {
    return {
      address: "Mxef57005e8f085f23ee9fae84c3cc467ca7a0e79f",
    };
  },
  computed: {
    url() {
      return `https://explorer-api.minter.network/api/v2/addresses/${this.address}/delegations`;
    },
  },
  mounted() {
    this.handleSearch();
  },
  methods: {
    handleSearch() {
      fetchData(this.url).then((data) => {
        if (data) {
          this.$emit("onFetchData", {
            validators: data[0],
            totalBip: data[1],
          });
        } else {
          this.$emit("onError", data);
        }
      });
    },
  },
};
</script>

<style scoped>
.search-form {
  background: #ffffff;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 35px;
  padding: 24px 12px;
  display: flex;
  align-items: stretch;
}

.search-form__input {
  flex: 1;
  background-color: #f6f6f6;
  border: none;
  padding: 16px 16px 16px 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #2c2c2c;
  text-overflow: ellipsis;
  min-width: 0;
}

.search-form__button {
  background: #2f80ed;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  padding: 16px 24px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .search-form__button {
    font-size: 16px;
    padding: 24px 50px;
  }

  .search-form__input {
    padding: 24px 24px 24px 54px;
  }

  .search-form {
    padding: 42px 56px;
  }
}
</style>
