<template>
  <div class="list">
    <div class="header header--stiky">
      <div class="header-validator">Validator</div>
      <div class="header-coins">Coins</div>
      <div class="header-amount">Amount</div>
    </div>
    <details v-for="validator in validators" v-bind:key="validator.id">
      <summary class="validator">
        <div class="summary">
          <img
            class="validator-img"
            :src="
              validator.icon_url
                ? validator.icon_url
                : 'https://rfqassist.com/wp-content/uploads/2020/03/company-placeholder.png'
            "
            alt=""
          />
          <div class="validator-title">
            <div class="validator-title__name">{{ validator.name }}</div>
            <div class="link-wrapper">
              <a
                class="validator-title__link"
                target="_blank"
                :href="
                  'https://explorer.minter.network/validator/' +
                    validator.public_key
                "
                >{{ validator.public_key }}</a
              >
            </div>
          </div>
          <div class="header-coins"></div>
          <div class="header-amount">
            {{ parseFloat(sum(validator.coins, "bip_value")).toFixed(1) }}
          </div>
        </div>
      </summary>
      <ul>
        <li
          class="coin-li"
          v-for="coin in validator.coins"
          v-bind:key="coin.id"
        >
          <div class="header-coins header-coins--show">{{ coin.coin }}</div>
          <div class="header-amount header-amount--show">
            {{ parseFloat(coin.value).toFixed(2) }} <br />
            {{
              coin.bip_value
                ? `BIP ${parseFloat(coin.bip_value).toFixed(2)}`
                : ""
            }}
          </div>
        </li>
      </ul>
    </details>
    <div v-if="total" class="footer">
      <div class="header-validator">Total BIP</div>
      <div class="header-coins"></div>
      <div class="header-amount header-amount--show">
        {{ parseFloat(total).toFixed(2) }}
      </div>
    </div>
  </div>
</template>

<script>
import sum from "@/helpers/sum";

export default {
  name: "ValidatorsList",
  props: ["validators", "total"],
  methods: { sum },
};
</script>

<style scoped>
summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "\25B6";
  padding-right: 0.5em;
  position: absolute;
  right: 12px;
  bottom: 50%;
  transform: translateY(50%);
}

.summary {
  width: 100%;
  display: flex;
  align-items: center;
}

.validator .header-coins,
.header-amount {
  text-align: left;
}

details[open] > summary::after {
  content: "\25BC";
}

details {
  transition: 0.3s ease-in-out;
}

details[open] {
  background: #e8f7ff;
  transition: 0.3s ease-in-out;
}

ul,
li {
  margin: 0;
  padding: 0;
  text-align: left;
}

.validator-title__name {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-coins--show {
  text-overflow: ellipsis;
  overflow: hidden;
}

.validator-title__link {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #2f80ed;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  display: flex;
  text-align: start;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 25px 56px;
  margin-bottom: 120px;
  background: #e8f7ff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.list {
  background: #ffffff;
  border-radius: 4px;
}

.validator-img {
  width: 50px;
  height: 50px;
  margin-right: 24px;
}

.validator {
  position: relative;
  cursor: pointer;
  padding: 25px 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px #e9e9e9 solid;
}

.header {
  display: flex;
  text-align: start;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  padding: 25px 12px;
  border-bottom: 1px #e9e9e9 solid;
}
.header--stiky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}

.header .header-coins,
.header .header-amount,
.footer .header-amount {
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}

.coin-li {
  display: flex;
  justify-content: flex-end;
  padding: 25px 56px;
}

.header-validator {
  flex: 1;
}

.header-coins,
.header-amount {
  width: 100px;
}

.validator-title {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-coins,
.header-amount {
  font-family: Roboto, sans-serif;
  display: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.85);
}

.header-coins--show,
.header-amount--show {
  display: block !important;
}

.link-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  .header-coins,
  .header-amount {
    display: block;
  }

  .header {
    padding: 25px 56px;
  }

  .validator {
    padding: 25px 56px;
  }

  .validator-title {
    flex: 1;
  }

  summary::after {
    right: 56px;
  }
}
</style>
