<template>
  <div id="app">
    <div class="container">
      <SearchAddress @onError="handleError" @onFetchData="handleFetch" />
      <ValidatorsList
        v-if="!isError"
        :validators="this.validators"
        :total="this.totalBip"
      />
      <div v-else>Ошибка</div>
    </div>
  </div>
</template>

<script>
import SearchAddress from "./components/SearchAddress.vue";
import ValidatorsList from "./components/ValidatorsList";

export default {
  name: "App",
  data: function() {
    return { validators: [], totalBip: 0, isError: false };
  },
  methods: {
    handleFetch(data) {
      this.validators = data.validators;
      this.totalBip = data.totalBip;
      this.isError = false;
    },
    handleError() {
      this.isError = true;
    },
  },
  components: {
    SearchAddress,
    ValidatorsList,
  },
};
</script>

<style>
body {
  background: #f6f8f9;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.container {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0 auto;
  }
}
</style>
